.search-input {
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px hsla(0, 0%, 52%, 0.24);
    border-radius: 5px;
    transition: box-shadow 0.1s ease-out;
    background-image: url("/src/images/search-sharp.svg");
    background-repeat: no-repeat;
    padding-left: 80px;
    background-size: 24px;
    background-position: 35px;
    font-size: 14px;
    font-weight: 600;
}

.search-input::placeholder {
    font-size: 14px;
    font-weight: 300;
}
.search-input:hover {
    box-shadow: 0px 0px 5px hsla(0, 0%, 27%, 0.5);
}
