@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

h1,
h2,
h3,
h4,
h5,
a,
span,
p {
    margin: 0;
    font-family: "Nunito Sans";
}


body {
    background: hsl(0, 0%, 98%);
}
div {
    box-sizing: border-box;
}

.countries {
    max-width: 1380px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

